@import "assets/fonts/fonts";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "VT323", monospace;
  background: url("/assets/images/constellation-light.svg");
  position: relative;

  &:after {
    content: "";
    background: linear-gradient(68.66deg, #e1e1e6 0%, #ffffff 100%);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.33;
  }
}

.type {
  display: flex;
  justify-content: space-evenly;
  list-style: none;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #f9f9fc;
    border-radius: 4px;
    width: 56px;
    height: 18px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

a {
  text-decoration: none;
}
