<div class="flex-container" *ngIf="pokemon !== undefined">
  <img
    class="artwork"
    src="{{ pokemon.sprites.other['official-artwork'].front_default }}"
    alt="{{ pokemon.name }}"
  />
  <section class="flex-container-column">
    <h2>{{ pokemon.name }}</h2>
    <p>The {{ getEnglishGenus() }}</p>
    <div class="dex__info">
      <table>
        <tr>
          <th>National No.</th>
          <td>{{ ("0000" + pokemon.id).slice(-3) }}</td>
        </tr>
        <tr>
          <th>Type</th>
          <td>
            <ul class="type">
              <li
                *ngFor="let type of pokemon.types"
                [ngStyle]="{ 'background-color': getTypeColor(type.type.name) }"
              >
                {{ type.type.name }}
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>Species</th>
          <td>{{ getEnglishGenus() }}</td>
        </tr>
        <tr>
          <th>Height</th>
          <td>{{ pokemon.height / 10 }} m</td>
        </tr>
        <tr>
          <th>Weight</th>
          <td>{{ pokemon.weight / 10 }} kg</td>
        </tr>
      </table>
    </div>
    <button (click)="setCatch()">Catch</button>
  </section>
  <section class="evo__chain flex-container-column">
    <h3>Evolution Chain</h3>
    <a class="evo__item" routerLink="/pokemon/{{ basePokemon?.name }}">
      <img
        src="{{
          basePokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon']
            .front_default
        }}"
        alt="{{ basePokemon.name }} in generation 7"
      />
      <div class="evo__item--nr">
        #{{ ("0000" + basePokemon.id).slice(-3) }}
      </div>
      <div class="evo__item--name">{{ basePokemon.name }}</div>
      <ul class="type">
        <li
          *ngFor="let type of basePokemon.types"
          [ngStyle]="{ 'background-color': getTypeColor(type.type.name) }"
        >
          {{ type.type.name }}
        </li>
      </ul>
    </a>
    <img src="/assets/images/chevron.svg" class="chevron" />
    <app-poke-evolution
      [evolutions]="evolutionChain.evolves_to"
    ></app-poke-evolution>
  </section>
</div>
