@font-face {
  font-family: "VT323";
  src: url("/assets/fonts/VT323-Regular.woff2") format("woff2"),
    url("/assets/fonts/VT323-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu-Regular.woff2") format("woff2"),
    url("/assets/fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu-Italic.woff2") format("woff2"),
    url("/assets/fonts/Ubuntu-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu-Bold.woff2") format("woff2"),
    url("/assets/fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
