<div class="loading" *ngIf="!pokemonsLoaded">LOADING POKEMON....</div>

<div class="poke__grid">
  <div *ngFor="let pokemon of pokemons.results" class="poke__card">
    <img src="/assets/images/pokeball.webp" class="poke__card--bg" />

    <h2>{{ pokemon.details.name }}</h2>
    <h5>no. {{ ("0000" + pokemon.details.id).slice(-3) }}</h5>
    <img
      src="{{ pokemon.details.sprites.front_default }}"
      alt="{{ pokemon.details.name }}"
      class="poke__card--img"
    />
    <ul>
      <li
        *ngFor="let type of pokemon.details.types"
        [ngStyle]="{ 'background-color': getTypeColor(type.type.name) }"
      >
        {{ type.type.name }}
      </li>
    </ul>
  </div>
</div>
