.poke__grid {
  display: grid;
  grid-gap: 18px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  margin-bottom: 64px;
}

.poke__card {
  display: flex;
  flex-direction: column;
  background-color: #e3e3e8;
  background-size: 181px;
  width: 100%;
  max-width: 175px;
  padding: 16px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-out, border 0.2s ease-in;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    transform: translateY(-4px);
    border: 1px solid #cacace;

    .poke__card--bg {
      transform: rotate(180deg);
    }
  }
}

h2 {
  text-transform: capitalize;
  font-size: 24px;
  line-height: 1;
  color: #3b3b3d;
}

h5 {
  font-size: 14px;
  line-height: 1;
  color: #545456;
}

.poke__card--img {
  justify-self: center;
  align-self: center;
  width: 96px;
  height: 96px;
  margin: 8px 0;
  user-select: none;
}

.poke__card--bg {
  position: absolute;
  width: 180px;
  height: 181px;
  opacity: 0.05;
  top: -33px;
  left: -33px;
  transform: rotate(-45deg);
  z-index: 0;
  pointer-events: none;
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
