header {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 64px 0;
}

nav {
  display: flex;
}

h1 {
  font-size: 96px;
  line-height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
