.caught__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.pokemon--card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 32%;
  background-color: #e3e3e8;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 12px;
  margin-right: 12px;
}

h3 {
  font-size: 24px;
  line-height: 16px;
  color: #545456;
  margin-bottom: 4px;
}

p {
  color: #545456;
}
